h3{
    font-size: 1.6em !important
}



.table thead th {
    border-bottom: 0px solid rgba(0, 0, 0, 0.219) !important;
    font-weight: 600;
   
 
   
}
.table td, .table th {
    font-weight: 400;
    border-top: 0px solid !important;
    font-size: 1em; 
}

.table tr {
    border-bottom: 2px solid rgba(0, 0, 0, 0.05) !important;
}
.ellipsis {
    
    max-height: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 0.8em !important;
   
}

.table-image{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    float: left;
    margin: -5px 10px 0px 0px;

}

 .pagination>li>a
 {
  border: 1px solid #2c3e50 !important;
  background: white !important;
  color : #2c3e50 !important;
}
.pagination>li.active>a {
  background: #2c3e50 !important;
  color: #fff !important;
}



@media screen and (max-width: 900px) {
   
    .table td, .table th {
      
        font-size:0.8em; 
    }

  
    .table thead th {
        border-bottom: 2px solid rgba(0, 0, 0, 0.219) !important;
    }

   
    
}