@import url(https://fonts.googleapis.com/css?family=Montserrat:400,600,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,600,900);
body{
    /* background: #1b1b1b;  
    background: -webkit-linear-gradient( 270deg ,to right, rgb(204, 51, 51), #000000)  !important;  
     background: linear-gradient( 135deg , rgba(26, 25, 25, 0.925), #000000 ) !important;  */
     background-image: linear-gradient(to right bottom, rgb(18, 18, 18), rgb(0, 0, 0)), linear-gradient(transparent, rgb(0, 0, 0) 70%);
    font-family: 'Roboto';
  
    letter-spacing: .015em;
   
}
a{
  text-decoration: none !important;
  color: #ffffff;
}
a:hover{
  color : #ffffff;
}

h6{
  font-size: 1.2em !important;
}

h3{
  font-size: 1.8em !important;
}

.app-header{
  /* padding: 10px !important; */
  font-weight: 800 !important;
  
}

.card-container{
    padding: 0px 2% !important;
}
input[type=search]{
    color : white !important;
}
.form-control::placeholder {
    font-size: 0.95rem;
    color: #ffffff;
    font-style: italic;
  }

  .form-control:focus {
    box-shadow: none;
  }
  
  .form-control-underlined {
    border-width: 0;
    border-bottom-width: 1px;
    border-radius: 0;
    padding-left: 0;
  }

.card{
   
    height: 180px;
    padding: 0px !important;
    background-position: center; 
    background-size: cover;
    border-radius: 0px; 
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
    border-radius: 15px;
    border-width: 0px !important;
    
}
.card-wrapper{
    padding: 8px 10px !important; 
}

.Song{
    position:absolute; 
    bottom:0px;
    padding-left : 10px !important;
    font-weight: 600;
  
}
.artist-name{
    margin-top: 0px !important; 
   font-size: 0.7em;
   font-weight: 400;
  
}
.sixCardImg{
   padding: 0px !important;
   height :100px !important;
   background-position: center; 
   background-size: cover;
   box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 20px 0 rgba(0,0,0,0.12)!important;
    
}

.sixCardText{
    position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  text-align: center !important;
    position: absolute;
    font-weight: 800;
}

.avatar{
    position: relative;
    width: 90%;
    height: 0;
    border-radius: 50%;
    margin-left: 5%;
    padding-bottom: 90%;
    background-position: center; 
    background-size: cover;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 20px 0 rgba(0,0,0,0.12)!important;
    
   
}

.artist-text{
    margin-top: 8px !important; 
    font-weight: bold;
    text-align: center;
    font-weight: 600;
}
  



