.table thead th {
    border-bottom: 3px solid rgba(0, 0, 0, 0.219) !important;
}
.table td, .table th {
    font-weight: 600;
    border-top: 0px solid !important;
    font-size: 1.2em; 
}
@media screen and (max-width: 900px) {
   
    .table td, .table th {
      
        font-size:0.8em; 
    }

    .song-name-text{
        font-size: 2.2em;
    }
    .descrption{
        font-size: 0.9em;
    }
    .table thead th {
        border-bottom: 2px solid rgba(0, 0, 0, 0.219) !important;
    }

    .action th{
        width : "30%";
    }
    
}