.song-banner{
    
    
    height : 340px;
    margin: 0px !important;
    padding: 0px !important;
}

.song-image{
   display: flex;
    border-radius: 15px;
    max-width: 220px !important;
    min-width: 150px !important;
   
}
.song-image-container{
    padding: 0px;
    border-radius: 20px;
    background-position-x: 50%;
    background-position-y: center;
    background-image:url(../uploads/04.jpg);
    background-size: cover;
    height : 220px;
    width : 220px;
}
.song-container{
    padding: 2.5% 5% ;
    background-color:rgba(0,0,0,0.15);
    margin-top: 20px; 
   
}


#waveform{
    margin-top: 10px !important; 
}

.song-name-text{
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 1.2em;
    width: 100%;
    margin: 5px 0px !important;
    line-height: 1em;
    cursor: pointer;
}

.more{
    font-size: 1.5em;
    padding: 20px 0px 0px 10px ;
}


/* width */
::-webkit-scrollbar {
    width: 4px !important;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
    

    
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
   

  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

@media screen and (max-width: 780px) {
    .song-name-text{
        font-size: 1em;
        padding-top: 2%; 
  }
  .song-image-container{
  display: none;
}

}

