
.songs-list {
  padding: 0px 5%;
}

.song-row {
  background: rgba(22, 22, 22, 0.4);
  padding: 12px 0px;
  margin-top: 5px;
}
.heading {
  border-radius: 20px;
  border: 1px solid white;
}

.avatar {
  vertical-align: middle;
  width: 25%;
  border-radius: 50%;
  padding-top: 10px;
}

.avatar-upload {
  margin: 0px 0px 0px 0px !important;
  padding: 5px 0px 15px 0px !important;
}

/*file upload*/
.avatar-upload {
  position: relative;
  max-width: 205px;
  margin: 50px auto;
}
.avatar-upload .avatar-edit {
  position: absolute;
  right: 12px;
  z-index: 1;
  top: 10px;
}
.avatar-upload .avatar-edit input {
  display: none;
}
.avatar-upload .avatar-edit input + label {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #ffffff;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}
.avatar-upload .avatar-edit input + label:hover {
  background: #f1f1f1;
  border-color: #d6d6d6;
}
.avatar-upload .avatar-edit input + label:after {
  content: "\f040";
  font-family: "FontAwesome";
  color: #757575;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
}
.avatar-upload .avatar-preview {
  width: 192px;
  height: 192px;
  position: relative;
  border-radius: 100%;
  border: 6px solid #f8f8f8;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.avatar-upload .avatar-preview > div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.titles{
    font-size: 25px;
    font-family: "Montserrat" !important;
    padding-top: 10px;
    padding-right: 10px;
}
.detailsBox{
    background-color: rgba(255, 255, 255, 0.11);
    max-width: 650px;
    border-radius: 30px;
}
.labelDetails{
    font-size: 20px;
    font-family: "Montserrat" !important;
    padding-left: 20px !important;
}

  
.hrline{
    color: white !important;
}
  

  

  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    
    .titles{
        font-size: 15px;
        font-family: "Montserrat" !important;
        padding-top: 10px;
        padding-right: 10px;
    }
    .detailsBox{
        background-color: rgba(255, 255, 255, 0.11);
        max-width: 650px;
        border-radius: 30px;
    }
    .labelDetails{
        font-size: 10px;
        font-family: "Montserrat" !important;
        padding-left: 20px !important;
    }
    .detailsTitle{
        font-size: 18px;
        font-family: "Montserrat" !important;
    }
    .iconDetails{
        font-size: 20px;
    }
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
    
        
    .titles{
        font-size: 15px;
        font-family: "Montserrat" !important;
        padding-top: 10px;
        padding-right: 10px;
    }
    .detailsBox{
        background-color: rgba(255, 255, 255, 0.11);
        max-width: 650px;
        border-radius: 30px;
    }
    .labelDetails{
        font-size: 10px;
        font-family: "Montserrat" !important;
        padding-left: 20px !important;
    }
    .detailsTitle{
        font-size: 18px;
        font-family: "Montserrat" !important;
    }
    .iconDetails{
        font-size: 20px;
    }
    
  }
    
  